
::-webkit-scrollbar {
  display: none;
}

:root {
  --mint: #00FFC6;
  --purp: #8A3FFC;
}

.hire-btn {
  border: 2px solid var(--mint);
  transition: all 0.2s ease-in-out;
  cursor: default;
}

.hire-btn:hover {
  scale: 1.1;
  box-shadow: 0 0 8px var(--mint);
}

.nav-btn {
  transition: all 0.2s ease-in-out;
}

.nav-btn:hover {
  scale: 1.1;
}

.nav-btn span {
  border-radius: 2px;
  height: 3px;
}

.nav-btn:hover span {
  background-color: var(--mint);
  box-shadow: 0 0 8px var(--mint);
}

.nav-bar {
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
}

.nav-bar:hover {
  border: 2px solid var(--mint);
}

/* .nav-bar a {
  transition: all 0.2s ease-in-out;
  cursor: default;
  display: inline-block;
  transform-origin: left center;
}

.nav-bar a:hover {
  color: var(--mint);
  transform: scale(1.1);
  transform: translateX(5px);
} */

.nav-link {
  position: relative;
  text-decoration: none;
  cursor: default;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background-color: var(--mint);
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
