
::-webkit-scrollbar {
  display: none;
}

:root {
  --mint: #00FFC6;
}

.social-icon {
  color: white;
  transition: all 0.2s ease-in-out;
}

.social-icon:hover {
  color: var(--mint);
  scale: 1.1;
}

.hire-btn {
  border: 2px solid var(--mint);
  transition: all 0.2s ease-in-out;
  cursor: default;
}

.hire-btn:hover {
  scale: 1.1;
  box-shadow: 0 0 8px var(--mint);
}

.nav-btn {
  transition: all 0.2s ease-in-out;
}

.nav-btn:hover {
  scale: 1.1;
}

.nav-btn span {
  border-radius: 2px;
  height: 3px;
}

.nav-btn:hover span {
  background-color: var(--mint);
  box-shadow: 0 0 8px var(--mint);
}

.nav-bar {
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
}

.nav-bar:hover {
  border: 2px solid var(--mint);
}

